.forgot{
	float:right;
}
input[type="text"],input[type="password"],input[type="submit"],input[type="email"]{
	width:40%;
	padding:10px;
	margin:10px 0px;
	border:2px solid #c0c0c0;
}
input[type="submit"]{
	border:1px solid #3B5998;
	background-color:#3B5998;
	color:rgb(19, 14, 14);
	font-size:16px;
	font-weight:600;
	cursor:pointer;
}
button a{
    color: white;
}
button a:hover{
    color: white;
}