.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 1200px) {
    .grid-container-step-3 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

}

@media (max-width: 792px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}